{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="author-card glass-card">
  <!-- Animated border effect -->
  <div class="author-card__glow"></div>
  
  <div class="author__avatar-wrapper">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}" class="author__avatar">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}" class="author__avatar">
    {% endif %}
    <div class="avatar-ring"></div>
  </div>

  <div class="author__content">
    <h3 class="author__name gradient-text">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
    {% if author.location %}
      <p class="author__location">
        <i class="fas fa-map-marker-alt"></i> {{ author.location }}
      </p>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons-futuristic">
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}" title="Email"><i class="fas fa-envelope"></i></a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}" title="GitHub"><i class="fab fa-github"></i></a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}" title="Google Scholar"><i class="fas fa-graduation-cap"></i></a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
      {% endif %}
      {% if author.twitter %}
        <li><a href="https://twitter.com/{{ author.twitter }}" title="Twitter"><i class="fab fa-twitter"></i></a></li>
      {% endif %}
      {% if author.facebook %}
        <li><a href="https://www.facebook.com/{{ author.facebook }}" title="Facebook"><i class="fab fa-facebook"></i></a></li>
      {% endif %}
      {% if author.instagram %}
        <li><a href="https://instagram.com/{{ author.instagram }}" title="Instagram"><i class="fab fa-instagram"></i></a></li>
      {% endif %}
      {% if author.youtube %}
        <li><a href="https://www.youtube.com/channel/{{ author.youtube }}" title="YouTube"><i class="fab fa-youtube"></i></a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="{{ author.orcid }}" title="ORCID"><i class="fab fa-orcid"></i></a></li>
      {% endif %}
      {% if author.researchgate %}
        <li><a href="{{ author.researchgate }}" title="ResearchGate"><i class="fab fa-researchgate"></i></a></li>
      {% endif %}
    </ul>
  </div>
  
  <!-- Quick Stats -->
  <div class="author__stats">
    <div class="stat">
      <span class="stat-number">10+</span>
      <span class="stat-label">Publications</span>
    </div>
    <div class="stat">
      <span class="stat-number">5+</span>
      <span class="stat-label">Projects</span>
    </div>
    <div class="stat">
      <span class="stat-number">6+</span>
      <span class="stat-label">Software</span>
    </div>
  </div>
  
  <!-- Download CV Button -->
  <a href="https://drive.google.com/file/d/1k7IOc0CxG-RHF0ZlPPRAOAcoWU5Q4bkO/view?usp=sharing" class="btn-glow author__cv-btn" target="_blank">
    <i class="fas fa-download"></i> Download CV
  </a>
</div>
 
